# Исполняемые файлы (результаты сборки)
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Временные файлы тестов и профилирования
*.test
*.out
*.prof

# Папка зависимостей (если использовали go mod vendor)
# Коммитить её нужно только в редких enterprise-архитектурах без доступа к интернету
vendor/
